		<aside class="aside">
			<div class="about additional__content">
				<h2 class="small__title">AbouT  Jetro</h2>
				<p class="about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praese nt libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elemen tum imperdiet. Duis sagittis ipsum. </p>
			</div>
			<div class="categories additional__content">
				<h2 class="small__title">Categories</h2>
				<ul class="categories__list">
					<li class="categories__item">
						<a class="categories__link" href="">Video</a>
						<p class="categories__count">(3)</p>
					</li>
					<li class="categories__item">
						<a class="categories__link" href="">Sports</a>
						<p class="categories__count">(5)</p>
					</li>
					<li class="categories__item">
						<a class="categories__link" href="">Media</a>
						<p class="categories__count">(2)</p>
					</li>
					<li class="categories__item">
						<a class="categories__link" href="">Entertainment</a>
						<p class="categories__count">(7)</p>
					</li>
					<li class="categories__item">
						<a class="categories__link" href="">Life</a>
						<p class="categories__count">(4)</p>
					</li>
					<li class="categories__item">
						<a class="categories__link" href="">Super Cool Stuff</a>
						<p class="categories__count">(8)</p>
					</li>
				</ul>
			</div>
			<div class="gallery additional__content">
				<h2 class="small__title">Photo Gallery</h2>
				<div class="gallery__block">
					<figure class="gallery__photo">
						<a href="" class="gallery__link">
							<img src="" class="gallery__img">
						</a>
					</figure>
					<figure class="gallery__photo">
						<a href="" class="gallery__link">
							<img src="" class="gallery__img">
						</a>
					</figure>
					<figure class="gallery__photo">
						<a href="" class="gallery__link">
							<img src="" class="gallery__img">
						</a>
					</figure>
					<figure class="gallery__photo">
						<a href="" class="gallery__link">
							<img src="" class="gallery__img">
						</a>
					</figure>
					<figure class="gallery__photo">
						<a href="" class="gallery__link">
							<img src="" class="gallery__img">
						</a>
					</figure>
					<figure class="gallery__photo">
						<a href="" class="gallery__link">
							<img src="" class="gallery__img">
						</a>
					</figure>
					<figure class="gallery__photo">
						<a href="" class="gallery__link">
							<img src="" class="gallery__img">
						</a>
					</figure>
					<figure class="gallery__photo">
						<a href="" class="gallery__link">
							<img src="" class="gallery__img">
						</a>
					</figure>
				</div>
			</div>
		</aside>
	</div>
</main>