<main class="main">
  <div class="container main__container">
    <article class="post-list">
      <section class="post">
        <div class="post__icon post__icon--slider">
        	<img src="img/icon/icon-galery.png" alt="">
        </div>
        <div class="post__media">
          <ul class="slider">
            <li class="slider__slide">
              <img class="slider__img" src="img/img/slider.png">
            </li>
            <li class="slider__slide">
              <img class="slider__img" src="img/img/poster.png">
            </li>
            <li class="slider__slide">
              <img class="slider__img" src="img/img/img.png">
            </li>
          </ul>
          <batton class="slider__arrow slider__arrow--next"></batton>
          <batton class="slider__arrow slider__arrow--prev"></batton>
        </div>
        <div class="post__article">
          <div class="post__meta">
            <dl class="data">
              <dt class="data__caption">Date</dt>
              <dd class="data__description">April 15, 2012</dd>
            </dl>
            <dl class="data">
              <dt class="data__caption">Tags</dt>
              <dd class="data__description data__tags">Website</dd>
              <dd class="data__description data__tags data__tags--before">Design</dd>
            </dl>
            <dl class="data">
              <dt class="data__caption">Comments</dt>
              <dd class="data__description comments__counter">0</dd>
            </dl>
          </div>
          <div class="post__description" data-id="0">
            <a href="" class="post__link">
              <h1 class="post__title">Top  WordPress  Themes  of  2012</h1>
              <p class="post__text">
                Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
              </p>
              <p class="post__text post__text--more">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis...</p>
            </a>
            <div class="post__is-hidden">
              <p class="post__text">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis</p>
              <div class="post__comments"></div>
              <form class="post__form">
                <input class="post__input" name="name" placeholder="name">
                <textarea class="post__input" rows="10" placeholder="text" name="text"></textarea>
                <button class="post__form-button" type="submit">SEND</button>
                <p class="comment__error"></p>
              </form>
            </div>
          </div>
      </section>
      <section class="post">
        <div class="post__icon post__icon--img">
          <img src="img/icon/icon-img.png" alt="">
        </div>
        <div class="post__media">
          <figure class="post__photo">
            <img class="post__img" src="img/img/img.png">
          </figure>
        </div>
        <div class="post__article">
          <div class="post__meta">
            <dl class="data">
              <dt class="data__caption">Date</dt>
              <dd class="data__description">April 15, 2012</dd>
            </dl>
            <dl class="data">
              <dt class="data__caption">Tags</dt>
              <dd class="data__description data__tags">Website</dd>
              <dd class="data__description data__tags data__tags--before">Design</dd>
            </dl>
            <dl class="data">
              <dt class="data__caption">Comments</dt>
              <dd class="data__description comments__counter">0</dd>
            </dl>
          </div>
          <div class="post__description" data-id="1">
            <a href="" class="post__link">
              <h1 class="post__title">Jesus  Typography  Wallpaper  Giveaway!</h1>
              <p class="post__text">
                Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
              </p>
              <p class="post__text post__text--more">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis...</p>
            </a>
            <div class="post__is-hidden">
              <p class="post__text">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis</p>
              <div class="post__comments"></div>
              <form class="post__form">
                <input class="post__input" name="name" placeholder="name">
                <textarea class="post__input" rows="10" placeholder="text" name="text"></textarea>
                <button class="post__form-button" type="submit">SEND</button>
                <p class="comment__error"></p>
              </form>
            </div>
          </div>
      </section>
      <section class="post">
        <div class="post__icon post__icon--video">
          <img src="img/icon/icon-video.png" alt="">
        </div>
        <div class="post__media">
          <div class="video">
            <div class="video__inner"></div>
            <iframe class="video__content" src="https://player.vimeo.com/video/12860646" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
        <div class="post__article">
          <div class="post__meta">
            <dl class="data">
              <dt class="data__caption">Date</dt>
              <dd class="data__description">April 15, 2012</dd>
            </dl>
            <dl class="data">
              <dt class="data__caption">Tags</dt>
              <dd class="data__description data__tags">Website</dd>
              <dd class="data__description data__tags data__tags--before">Design</dd>
            </dl>
            <dl class="data">
              <dt class="data__caption">Comments</dt>
              <dd class="data__description comments__counter">0</dd>
            </dl>
          </div>
          <div class="post__description" data-id="2">
            <a href="" class="post__link">
              <h1 class="post__title">Big Buck Bunny Trailer</h1>
              <p class="post__text">
                Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei. Ne eos vidisse splendide instructior. Mei no latine praesent forensibus, te sed habemus tacimates, ad ipsum officiis constituto usu.
              </p>
              <p class="post__text post__text--more">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis...</p>
            </a>
            <div class="post__is-hidden">
              <p class="post__text">Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis. Maecenas ipsum metus, semper hendrerit varius mattis, congue sit amet tellus. Aliquam ullamcorper dui sed magna posuere ut elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis elementum enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc. Cras varius fermentum iaculis</p>
              <div class="post__comments"></div>
              <form class="post__form">
                <input class="post__input" name="name" placeholder="name">
                <textarea class="post__input" rows="10" placeholder="text" name="text"></textarea>
                <button class="post__form-button" type="submit">SEND</button>
                <p class="comment__error"></p>
              </form>
            </div>
          </div>
      </section>
      <section class="post">
        <div class="post__icon post__icon--quote">
         <img src="img/icon/quote.png" alt="">
        </div>
        <p class="post__text post__text--quote" contenteditable="true">
          Write anything you want here in this quotable area. Something unique you want people to learn about your website or some cool random fact. Its totally up to you.
        </p>
      </section>
      <section class="post">
        <div class="post__icon post__icon--url">
        	<img src="img/icon/icon-link.png" alt="">
        </div>
        <h1 class="post__title post__title--url">Some  of  the  best  freebies  on  the  web</h1>
        <a class="post__url" href="#">www.bestpsdfreebies.com</a>
        </h2>
        <p class="post__text post__text--url">
          Lorem ipsum dolor sit amet, sit an molestie neglegentur concludaturque. Possim hendrerit in usu. Iriure delectus mea at, vis dicit laudem ex, vel eu possim imperdiet consequuntur. Brute ipsum tincidunt vim ei.
        </p>
      </section>
